*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.cursors{
    position: fixed;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #B19777 ;;
    transition: .1s;
}
.cursor2{

    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color:  #B19777 ;
    pointer-events: none;
    user-select: none;
    border: 1px solid #B19777 ;
    transition: .1s;
}
.hello{
  text-align: center;
  font-size: 2rem;
  margin: 0 50%;
}

.cursors:hover{
  transform: scale(2);
    background: #ffff
}

.hello:hover ~ .cursors{
  transform: scale(2);
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
@media screen and (max-width:460px){
body{
  overflow-x: hidden;
}
}
@media screen and (max-width:760px){
  body{
    overflow-x: hidden;
  }
}