.about-head{
    width: 100%;
    height: 80lvh;
    position: relative;
}
.about-head img{
    width: 100%;
    height: 100%;
}
.abou-cover{
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 20% 0;
  font-size: clamp(3vw, 3vw + .35rem, 3rem);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  top: 0;
  background-color: rgba(0, 0, 0, 0.493);
}
.ceo-quote{
    height: 20rem;
    margin: 2rem 0 3rem 0;
    position: relative;
}
.ceo-quote img{
    height: 100%;
}
.quote-cover{
 position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20%;
  font-size: clamp(2vw, 2.2vw + .35rem, 3rem);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  top: 0;
  background-color: rgba(0, 0, 0, 0.596);
  
}
.myceo{
    font-size: 1.35rem;
    color:#B19777 ;
    padding: 1rem 0;
}
.imported-content{
    position: relative;
}